[Unit]
Description=Zorbio game server

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/zorbio.env
ExecStartPre=/usr/bin/pm2 --version
ExecStart=/usr/share/games/zorbio/zorbio.sh start
ExecStop=/usr/share/games/zorbio/zorbio.sh stop
ExecReload=/usr/share/games/zorbio/zorbio.sh restart
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=zorbio
User=root
Group=root

[Install]
WantedBy=multi-user.target