@import url("https://fonts.googleapis.com/css?family=Orbitron");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  -webkit-backface-visibility: hidden;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }
  70% {
    -moz-transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }
  70% {
    -o-transform: scale(0.9);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@-webkit-keyframes sphereAnim {
  0% {
    opacity: 0;
    transform: translateX(-2000px) scale(1, 1);
  }
  10% {
    opacity: 1;
    transform: translateX(30px) scale(1, 1);
  }
  13% {
    opacity: 1;
    transform: translateX(-10px) scale(1, 1);
  }
  15% {
    opacity: 1;
    transform: translateX(0) scale(1, 1);
  }
  80% {
    opacity: 1;
    transform: translateX(0) scale(1, 1);
  }
  90% {
    opacity: 1;
    transform: translateX(15.5vw) scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: translateX(15.5vw) scale(1.3, 1.3);
  }
}
@-moz-keyframes sphereAnim {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px) scale(1, 1);
  }
  10% {
    opacity: 1;
    -moz-transform: translateX(30px) scale(1, 1);
  }
  13% {
    opacity: 1;
    -moz-transform: translateX(-10px) scale(1, 1);
  }
  15% {
    opacity: 1;
    -moz-transform: translateX(0) scale(1, 1);
  }
  80% {
    opacity: 1;
    -moz-transform: translateX(0) scale(1, 1);
  }
  90% {
    opacity: 1;
    -moz-transform: translateX(15.5vw) scale(1, 1);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(15.5vw) scale(1.3, 1.3);
  }
}
@-o-keyframes sphereAnim {
  0% {
    opacity: 0;
    transform: translateX(-2000px) scale(1, 1);
  }
  10% {
    opacity: 1;
    transform: translateX(30px) scale(1, 1);
  }
  13% {
    opacity: 1;
    transform: translateX(-10px) scale(1, 1);
  }
  15% {
    opacity: 1;
    transform: translateX(0) scale(1, 1);
  }
  80% {
    opacity: 1;
    transform: translateX(0) scale(1, 1);
  }
  90% {
    opacity: 1;
    transform: translateX(15.5vw) scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: translateX(15.5vw) scale(1.3, 1.3);
  }
}
@keyframes sphereAnim {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px) scale(1, 1);
    transform: translateX(-2000px) scale(1, 1);
  }
  10% {
    opacity: 1;
    transform: translateX(30px) scale(1, 1);
    -moz-transform: translateX(30px) scale(1, 1);
  }
  13% {
    opacity: 1;
    transform: translateX(-10px) scale(1, 1);
    -moz-transform: translateX(-10px) scale(1, 1);
  }
  15% {
    opacity: 1;
    transform: translateX(0) scale(1, 1);
    -moz-transform: translateX(0) scale(1, 1);
  }
  80% {
    opacity: 1;
    transform: translateX(0) scale(1, 1);
    -moz-transform: translateX(0) scale(1, 1);
  }
  90% {
    opacity: 1;
    transform: translateX(15.5vw) scale(1, 1);
    -moz-transform: translateX(15.5vw) scale(1, 1);
    height: 16vw;
    width: 16vw;
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(15.5vw) scale(1.3, 1.3);
    transform: translateX(15.5vw) scale(1, 1);
  }
}
.sphereAnim {
  -webkit-animation-name: sphereAnim;
  -moz-animation-name: sphereAnim;
  -o-animation-name: sphereAnim;
  animation-name: sphereAnim;
}
@-webkit-keyframes sphere2Anim {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  10% {
    opacity: 1;
    transform: translateX(30px);
  }
  13% {
    opacity: 1;
    transform: translateX(-10px);
  }
  15% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(15.5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(15.5vw);
  }
}
@-moz-keyframes sphere2Anim {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateX(30px);
  }
  13% {
    opacity: 1;
    -moz-transform: translateX(-10px);
  }
  15% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  80% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  90% {
    opacity: 1;
    -moz-transform: translateX(15.5vw);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(15.5vw);
  }
}
@-o-keyframes sphere2Anim {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  10% {
    opacity: 1;
    transform: translateX(30px);
  }
  13% {
    opacity: 1;
    transform: translateX(-10px);
  }
  15% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(15.5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(15.5vw);
  }
}
@keyframes sphere2Anim {
  0% {
    -moz-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  90% {
    opacity: 1;
    transform: translateX(15.5vw);
    -moz-transform: translateX(15.5vw);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(15.5vw);
    transform: translateX(15.5vw);
  }
}
.sphere2Anim {
  -webkit-animation-name: sphere2Anim;
  -moz-animation-name: sphere2Anim;
  -o-animation-name: sphere2Anim;
  animation-name: sphere2Anim;
}
@-webkit-keyframes foodAnim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes foodAnim {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }
  70% {
    -moz-transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes foodAnim {
  0% {
    opacity: 0;
    -o-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }
  70% {
    -o-transform: scale(0.9);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes foodAnim {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  95% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.foodAnim {
  -webkit-animation-name: foodAnim;
  -moz-animation-name: foodAnim;
  -o-animation-name: foodAnim;
  animation-name: foodAnim;
}
@-webkit-keyframes tutorialMessageAnim {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes tutorialMessageAnim {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes tutorialMessageAnim {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes tutorialMessageAnim {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.tutorialMessageAnim {
  -webkit-animation-name: tutorialMessageAnim;
  -moz-animation-name: tutorialMessageAnim;
  -o-animation-name: tutorialMessageAnim;
  animation-name: tutorialMessageAnim;
}
#ui-overlay #tutorial {
  display: flex;
  overflow-y: none;
}
#ui-overlay #tutorial #tutorial-content {
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}
#ui-overlay #tutorial #tutorial-content > * {
  border-radius: 12px;
  margin: 10px auto;
}
#ui-overlay #tutorial #tutorial-content img {
  max-width: 100%;
  height: auto;
}
html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #171717;
}
body #ui-overlay {
  font-family: Orbitron, monospace;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
a {
  font-size: 1em;
  color: #f7f7f7;
}
a:hover {
  color: #0b7bf4;
}
button,
a {
  cursor: pointer;
}
#render-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  touch-action: none;
  z-index: 10;
  cursor: url('../images/cursor.png') -4 -4, crosshair;
}
input {
  padding: 20px;
  background: #dedede;
  color: #171717;
  border: none;
  outline: none;
}
input:focus {
  background: #ffffff;
}
#start-menu h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}
#start-menu ul {
  margin: 10px;
  padding: 10px;
  margin-top: 0;
}
.error-text {
  color: #0b7bf4;
  font-size: 21px;
  text-align: center;
}
#ui-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#ui-overlay > * {
  max-width: calc(100% - 10px);
  max-height: calc(100% - 80px);
  overflow-y: auto;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  color: #f7f7f7;
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
  padding: 20px;
  margin: 20px;
}
#ui-overlay > * > * {
  margin-bottom: 20px;
  border-radius: 8px;
}
#ui-overlay > * > *:first-child {
  margin-top: 0;
  padding-top: 0;
}
#ui-overlay > * > *:last-child {
  margin-bottom: 0;
}
#ui-overlay > * h1 {
  text-align: center;
  font-size: 60px;
}
#ui-overlay > * h1 small {
  float: right;
  clear: both;
}
#ui-overlay > * h2 {
  text-align: center;
  font-size: 30px;
}
#ui-overlay > * p {
  text-align: center;
  font-size: 15px;
}
#ui-overlay #start-menu h1 {
  margin-bottom: 5px;
}
#ui-overlay #start-menu h2 {
  letter-spacing: 6px;
  color: #696969;
  font-size: 1rem;
}
button:focus {
  outline: none;
}
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  background: #0b7bf4;
  border: none;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  min-height: 80px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  z-index: 1;
}
button.secondary {
  background: #787878;
}
button.secondary::before {
  background: #919191;
}
button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -15px 0 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #3c95f6;
  -webkit-transform-origin: 150% 50%;
  transform-origin: 150% 50%;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
button > span {
  vertical-align: middle;
  padding-left: 0.75em;
}
button:hover::before {
  -webkit-transform: scale3d(9, 9, 1);
  transform: scale3d(9, 9, 1);
}
#leaderboard-playing {
  background: none;
  pointer-events: none;
  border-radius: 0;
  align-self: flex-start;
  margin-right: auto;
  padding: 0;
  margin: 0 auto 0 0;
}
#leaderboard-playing ul li,
#leaderboard-playing #leaders {
  display: flex;
}
#leaderboard-playing ul li div,
#leaderboard-playing #leaders div {
  margin: 3px;
  font-size: 18px;
}
#leaderboard-playing ul li.mobile div,
#leaderboard-playing #leaders.mobile div {
  margin-bottom: 2px;
  font-size: 10.5px;
}
#server-message {
  position: absolute;
  top: 4px;
  left: 4px;
  color: #f7f7f7;
  font-size: 18px;
}
#copy {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  background: none;
  color: #404040;
  padding: 0;
  margin: 2px;
}
#copy a {
  color: #404040;
  text-decoration: underline;
}
#gear-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 40px;
  opacity: 0.1;
  background: none;
  margin: 8px;
  cursor: pointer;
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}
#gear-btn:hover {
  opacity: 0.4;
}
