@import url("https://fonts.googleapis.com/css?family=Orbitron");

@import (inline) url("reset.css");

// fonts

@primary-font: Orbitron, monospace;
@font-size-base: 30px;

// colors

@primary-color: #f7f7f7;
@secondary-color: #171717;
@modal-background: darken(@secondary-color, 10%);
@accent-color: #0B7BF4;

// spacing

@default-padding: 20px;

//

html, body {
    overflow         : hidden;
    width            : 100%;
    height           : 100%;
    margin           : 0;
    padding          : 0;
    background-color : @secondary-color;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a {
    font-size: 1em;
    color: @primary-color;
    &:hover {
        color: @accent-color;
    }
}
button, a {
    cursor: pointer;
}

img {
    max-width: 100%;
}

#render-canvas {

    // TODO: show canvas again!
    // visibility: hidden;
    // TODO: show canvas again!

    width        : 100%;
    height       : 100%;
    position     : absolute;
    top          : 0;
    left         : 0;
    margin       : 0;
    padding      : 0;
    touch-action : none;
    z-index      : 10;
    cursor       : url('../images/cursor.png') -4 -4, crosshair;
}

// fade in the canvas and the UI, when they become active
#render-canvas,
#ui-overlay {
    opacity      : 0.01;
    transition: opacity 0.618s ease-in-out;
    &.active {
        opacity: 1;
    }
    & > * {
        color: @primary-color;
    }
}

input {
    padding    : @default-padding;
    background : darken(@primary-color, 10%);
    color      : @secondary-color;
    border     : none;
    outline    : none;

    &[type=range] {
        // no padding for range inputs
        padding: 0;
    }

    &:focus {
        background: lighten(@primary-color, 10%);
    }
}

.error-text {
    color      : @accent-color;
    font-size  : @font-size-base * 0.7;
    text-align : center;
}

// UI overlay.  all UI components are placed within this element.
#ui-overlay {

    font-family    : @primary-font;
    font-size      : @font-size-base;
    font-weight    : bold;
    letter-spacing : 1px;

    display         : flex;
    justify-content : space-between;
    align-items     : center;
    flex-direction  : column;

    pointer-events  : none; // disable click/touch events for the overlay itself

    position        : absolute;
    z-index         : 20;
    top             : 0;
    left            : 0;
    height          : 100%;
    width           : 100%;
    padding         : 0;
    margin          : 0;

    .greybox {
        max-width       : calc(~"100% - 10px");

        overflow-y      : auto; // scroll if ya gotta

        pointer-events  : auto; // enable click/touch events on UI elements
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;

        border-radius   : 12px;

        color           : @primary-color;
        background      : fade(@modal-background, 50%) none repeat scroll 0% 0%;
        padding         : @default-padding;
        margin          : @default-padding;

        & > * {
            margin-bottom : @default-padding;
            border-radius : 8px;
        }

        & > *:first-child:not(input) {
            margin-top  : 0;
            padding-top : 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        h1 {
            text-align: center;
            font-size: @font-size-base * 2;
            small {
                float: right;
                clear: both;
            }
        }

        h2 {
            text-align: center;
            font-size: @font-size-base;
        }

        p {
            text-align: center;
            font-size: @font-size-base * 0.5;
        }

    }

    #skin-list {
        li {
            float: left;
            margin: 10px;
            font-size: 0.5 * @font-size-base;
            h1, button {
                font-size: inherit;
            }
            img {
                border-radius: 50%;
            }
            & * {
                cursor: pointer;
            }
        }
    }

}

button:focus {
    outline: none;
}
button {
    pointer-events: auto;
    -moz-osx-font-smoothing     : grayscale;
    -webkit-backface-visibility : hidden;
    background                  : @accent-color;
    border                      : none;
    color                       : @primary-color;
    display                     : flex;
    justify-content             : center;
    overflow                    : hidden;
    padding                     : @default-padding;
    position                    : relative;
    z-index                     : 1;
    & > span {
        vertical-align : middle;
        padding-left   : 0.75em;
    }

    transition: box-shadow 0.08s linear, transform 0.04s ease-out;
    &:hover {
        box-shadow: inset 0 0 0 0.8vw rgba(255,255,255,0.2);
    }
    &:active {
        box-shadow: inset 0 0 0 0.8vw rgba(255,255,255,0.2);
        transform: scale3d(0.97, 0.97, 1);
    }
}

#leaderboard-playing {

    background     : none;
    pointer-events : none;
    border-radius  : 0; // override

    // position top left
    align-self   : flex-start;
    margin-right : auto;
    padding      : 0;
    margin       : 0 auto 0 0;

    font-size: 14px;
    max-height: none; // override

    ul li,
    #leaders {
        display    : flex;
        div {
            margin    : 3px;
            font-size : @font-size-base * 0.35;
        }
        &.mobile div {
            margin-bottom : 2px;
            font-size : @font-size-base * 0.25;
        }
    }
}


#server-message {
    position  : absolute;
    left      : 50%;
    transform : translateX(-50%);
    top       : 15vh;
    color     : @primary-color;
    font-size : @font-size-base * 0.6;
}

#copy {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    background: none;
    color: lighten(@secondary-color, 16%);
    padding: 0;
    margin: 2px;
    a {
        color: lighten(@secondary-color, 16%);
        text-decoration: underline;
        pointer-events: auto;
    }
}

#gear-btn {
    position   : absolute;
    top        : 0;
    right      : 0;
    padding    : 0;
    width      : 40px;
    opacity    : 0.2;
    background : none;
    margin     : 8px;
    cursor     : pointer;
    transition : opacity ease-in-out 0.1s;
    pointer-events: auto;
    &:hover {
        opacity: 0.4;
    }
}

#targets, #player-size {
    position       : absolute;
    top            : 5vh;
    left           : 50%;
    transform      : translateX(-50%);
    padding        : 0;
    opacity        : 0.8;
    background     : none;
    margin         : 3px;
    border-radius  : 0;
    font-size      : 1rem;
    pointer-events : none;
    max-width      : 60%;
    overflow       : hidden;
    text-align     : center;
}

#player-size {
    top : 1vh;
}

#title {
    margin: 4vh;
    color: white;
    font-size: 4rem;
    text-shadow: 0 0 40px rgba(255,255,255,0.5);
}

.circle(@radius: 15vw, @max-radius: 200px) {
    border-radius : 50% 50%;
    width         : 16vw;
    height        : 16vw;
    max-height    : 200px;
    max-width     : 200px;
}

#tabs {
    button {
        .circle(16vw, 200px);
        margin: 1vw 1vw 5vh;
        transition:
            opacity ease-out 0.2s,
            transform ease-out 0.2s;
        opacity: 0.8;
        &.active {
            opacity: 0.95;
            transform: scale3d(1.1, 1.1, 1);
            box-shadow: inset 0 0 0 0.8vw rgba(255,255,255,0.2);
        }
    }
    display         : flex;
    flex-direction  : row;
    justify-content : space-around;
}

* {
    user-select: none;
    cursor: url('../images/cursor.png') -4 -4, crosshair;
}
