@import url("https://fonts.googleapis.com/css?family=Orbitron");

@import (inline) url("reset.css");
@import url("tutorial");

// fonts

@primary-font: Orbitron, monospace;
@font-size-base: 30px;

// colors

@primary-color: #f7f7f7;
@secondary-color: #171717;
@modal-background: darken(@secondary-color, 10%);
@accent-color: #0B7BF4;

// spacing

@default-padding: 20px;

//

html, body {
    overflow         : hidden;
    width            : 100%;
    height           : 100%;
    margin           : 0;
    padding          : 0;
    background-color : @secondary-color;
}

body #ui-overlay {
    font-family    : @primary-font;
    font-size      : @font-size-base;
    font-weight    : bold;
    letter-spacing : 1px;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a {
    font-size: 1em;
    color: @primary-color;
    &:hover {
        color: @accent-color;
    }
}
button, a {
    cursor: pointer;
}

#render-canvas {
    width        : 100%;
    height       : 100%;
    position     : absolute;
    top          : 0;
    left         : 0;
    margin       : 0;
    padding      : 0;
    touch-action : none;
    z-index      : 10;
    cursor       : url('../images/cursor.png') -4 -4, crosshair;
}

input {
    padding    : @default-padding;
    background : darken(@primary-color, 10%);
    color      : @secondary-color;
    border     : none;
    outline    : none;

    &:focus {
        background: lighten(@primary-color, 10%);
    }
}

#start-menu {
    h3 {
        padding-bottom : 0;
        margin-bottom  : 0;
    }

    ul {
        margin     : 10px;
        padding    : 10px;
        margin-top : 0;
    }

}
.error-text {
    color      : @accent-color;
    font-size  : @font-size-base * 0.7;
    text-align : center;
}

// UI overlay.  all UI components are placed within this element.
#ui-overlay {
    display         : flex;
    justify-content : center;
    align-items     : center;

    pointer-events  : none; // disable click/touch events for the overlay itself

    position        : absolute;
    z-index         : 20;
    top             : 0;
    left            : 0;
    height          : 100%;
    width           : 100%;
    padding         : 0;
    margin          : 0;

    & > * {
        max-width       : calc(~"100% - 10px");
        max-height      : calc(~"100% - 80px");

        overflow-y      : auto; // scroll if ya gotta

        pointer-events  : auto; // enable click/touch events on UI elements
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;

        border-radius   : 12px;

        color           : @primary-color;
        background      : fade(@modal-background, 50%) none repeat scroll 0% 0%;
        padding         : @default-padding;
        margin          : @default-padding;

        & > * {
            margin-bottom : @default-padding;
            border-radius : 8px;
        }

        & > *:first-child {
            margin-top  : 0;
            padding-top : 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        h1 {
            text-align: center;
            font-size: @font-size-base * 2;
            small {
                float: right;
                clear: both;
            }
        }

        h2 {
            text-align: center;
            font-size: @font-size-base;
        }

        p {
            text-align: center;
            font-size: @font-size-base * 0.5;
        }

    }

    #start-menu {
        & h1 {
            margin-bottom: 5px;
        }
        & h2 {
            letter-spacing: 6px;
            color: lighten(@secondary-color, 32%);
            font-size: 1rem;
        }
    }

}

button:focus {
    outline: none;
}
button {
    -moz-osx-font-smoothing     : grayscale;
    -webkit-backface-visibility : hidden;
    background                  : @accent-color;
    border                      : none;
    color                       : @primary-color;
    display                     : flex;
    justify-content             : center;
    min-height                  : 80px;
    overflow                    : hidden;
    padding                     : @default-padding;
    position                    : relative;
    z-index                     : 1;
    &.secondary {
        @alt-bg-color: darken(@primary-color, 50%);
        background: @alt-bg-color;
        &::before {
            background: lighten(@alt-bg-color, 10%);
        }
    }
    &::before {
        content                  : '';
        z-index                  : -1;
        position                 : absolute;
        top                      : 50%;
        left                     : 100%;
        margin                   : -15px 0 0 1px;
        width                    : 30px;
        height                   : 30px;
        border-radius            : 50%;
        background               : lighten(@accent-color, 10%);
        -webkit-transform-origin : 150% 50%;
        transform-origin         : 150% 50%;
        // -webkit-transform     : scale3d(1, 2, 1);
        // transform             : scale3d(1, 2, 1);
        -webkit-transition       : -webkit-transform 0.4s, opacity 0.4s;
        transition               : transform 0.4s, opacity 0.4s;
    }
    & > span {
        vertical-align : middle;
        padding-left   : 0.75em;
    }
    &:hover::before {
        -webkit-transform : scale3d(9, 9, 1);
        transform         : scale3d(9, 9, 1);
    }
}

#leaderboard-playing {

    background     : none;
    pointer-events : none;
    border-radius  : 0; // override

    // position top left
    align-self   : flex-start;
    margin-right : auto;
    padding      : 0;
    margin       : 0 auto 0 0;

    ul li,
    #leaders {
        display    : flex;
        div {
            margin    : 3px;
            font-size : @font-size-base * 0.6;
        }
        &.mobile div {
            margin-bottom : 2px;
            font-size : @font-size-base * 0.35;
        }
    }
}


#server-message {
    position  : absolute;
    top       : 4px;
    left      : 4px;
    color     : @primary-color;
    font-size : @font-size-base * 0.6;
}

#copy {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    background: none;
    color: lighten(@secondary-color, 16%);
    padding: 0;
    margin: 2px;
    a {
        color: lighten(@secondary-color, 16%);
        text-decoration: underline;
    }
}

#gear-btn {
    position   : absolute;
    top        : 0;
    right      : 0;
    padding    : 0;
    width      : 40px;
    opacity    : 0.1;
    background : none;
    margin     : 8px;
    cursor     : pointer;
    .transition(opacity, 0.1s);
    &:hover {
        opacity: 0.4;
    }
}
