@import url("https://fonts.googleapis.com/css?family=Orbitron");

@import (inline) url("reset.css");

// fonts

@primary-font: Orbitron, monospace;
@font-size-base: 30px;

// colors

@primary-color: #f7f7f7;
@secondary-color: #171717;
@modal-background: darken(@secondary-color, 10%);
@accent-color: #0B7BF4;

// spacing

@default-padding: 20px;
@size-meter-height: 1.0vh;

//

html, body {
    overflow         : hidden;
    width            : 100%;
    height           : 100%;
    margin           : 0;
    padding          : 0;
    background-color : @secondary-color;
}

.clearfix() {
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

* {
    margin: 0;
    padding: 0;
}

input, textarea, select, button {
    user-select: auto;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border-radius : 8px;
}
button[disabled] {
    background-color: @secondary-color;
    color: lighten(@secondary-color, 16%);
}

a {
    font-size: 1em;
    color: @primary-color;
    &:hover {
        color: @accent-color;
    }
}
button, a {
    cursor: pointer;
    pointer-events: auto;
}

img {
    max-width: 100%;
}

input {
    padding    : @default-padding;
    background : darken(@primary-color, 10%);
    color      : @secondary-color;
    border     : none;
    outline    : none;

    &[type=range] {
        // no padding for range inputs
        padding: 0;
    }

    &:focus {
        background: lighten(@primary-color, 10%);
    }
}

#render-canvas {
    position     : absolute;
    top          : 0;
    left         : 0;
    margin       : 0;
    padding      : 0;
    touch-action : none;
    z-index      : 10;
    cursor       : url('../images/cursor.png') -4 -4, crosshair;
    opacity: 0;
    transition: opacity linear 0.3s;
    &.active {
        opacity: 1;
    }
}


// fade in the canvas and the UI, when they become active
#render-canvas,
#ui-overlay {
    height     : 100%;
    width      : 100%;
    transition : opacity 0.618s ease-in-out;
    & > * {
        color: @primary-color;
    }
}

#loading-image {
    .center-abs();
    height: 200px;
    width: 200px;
    z-index: 5;
    img {
        animation-duration: 2.618s;
        animation-name: loadingSpinner;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.error-text {
    color      : @accent-color;
    font-size  : @font-size-base * 0.7;
    text-align : center;
}

.center-abs-h() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center-abs-v() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center-abs() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ui-overlay() {
    position : absolute;
    z-index  : 20;
    top      : 0;
    left     : 0;
    padding  : 0;
    margin   : 0;
    height   : 100%;
    width    : 100%;
    pointer-events  : none; // disable click/touch events for the overlay itself

    font-family    : @primary-font;
    font-size      : @font-size-base;
    font-weight    : bold;
    letter-spacing : 1px;
}

// UI while playing.
#play-ui-container {
    .ui-overlay();
}

// UI while in menus.
#menu-ui-container {

    .ui-overlay();

    display  : grid;

    #title {
        position: relative;
        h1 {
            .center-abs();
        }
    }
    #menu {
        overflow: hidden;
        position: relative;
        #start-button,
        #input-name,
        #input-alphakey,
        .button-use-skin {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
    }
    #tabs {
        text-align: center;
    }
    #copy {
        display: block;
        text-align: center;
        font-size: 12px;
        line-height: 2.2;
        background: none;
        color: lighten(@secondary-color, 16%);
        a {
            color: lighten(@secondary-color, 16%);
            text-decoration: underline;
        }
    }

    @media (max-height: 450px), (orientation: landscape) {
        & {
            // TODO variablize these fixed px sizes
            grid-template-columns: 0.8fr 0.2fr;
            grid-template-rows: 67px 20px 1fr 14px;
        }
        & #title {
            grid-column: 1;
            grid-row: 1;
        }
        & #marquee {
            grid-column: 1;
            grid-row: 2;
        }
        & #menu {
            grid-column: 1;
            grid-row: 3;
        }
        & #tabs {
            grid-column: 2;
            grid-row: 1 / span 2;
        }
        & #copy {
            grid-column: 1;
            grid-row: 4;
        }
    }
    @media (min-height: 451px), (orientation: portrait) {
        & {
            grid-template-columns: 1fr;
            grid-template-rows: 90px 20px 1fr 100px 22px;
        }
        & #title {
            grid-column: 1;
            grid-row: 1;
        }
        & #marquee {
            grid-column: 1;
            grid-row: 2;
        }
        & #menu {
            grid-column: 1;
            grid-row: 3;
        }
        & #tabs {
            grid-column: 1;
            grid-row: 4;
        }
        & #copy {
            grid-column: 1;
            grid-row: 5;
        }
    }


    #skin-list {
        li {
            float: left;
            margin: 10px;
            font-size: 0.5 * @font-size-base;
            h1, button {
                font-size: inherit;
            }
            .selected {
                background: desaturate(@accent-color, 90%);
            }
            img {
                border-radius: 50%;
            }
            & * {
                cursor: pointer;
            }
        }
    }

}
.greybox-wrapper {
    .center-abs-h;
    pointer-events: auto;
    overflow: auto;
    height: 100%;
    max-width: 800px;
    width: 100%;
    .greybox {
        max-width       : calc(~"100% - 10px");

        pointer-events  : auto; // enable click/touch events on UI elements
        overflow-y      : auto; // scroll if ya gotta

        border-radius   : 12px;

        color           : @primary-color;
        background      : fade(@modal-background, 50%) none repeat scroll 0% 0%;
        padding         : @default-padding;
        margin          : @default-padding;

        & > * {
            margin-bottom : @default-padding;
            border-radius : 8px;
        }

        & > *:first-child:not(input) {
            margin-top  : 0;
            padding-top : 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }

        h1 {
            text-align: center;
            font-size: @font-size-base * 2;
            small {
                float: right;
                clear: both;
            }
        }

        h2 {
            text-align: center;
            font-size: @font-size-base;
        }

        p {
            text-align: center;
            font-size: @font-size-base * 0.5;
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }

    }
}


button:focus {
    outline: none;
}
button {
    pointer-events: auto;
    -moz-osx-font-smoothing     : grayscale;
    -webkit-backface-visibility : hidden;
    background                  : @accent-color;
    border                      : none;
    color                       : @primary-color;
    overflow                    : hidden;
    padding                     : @default-padding;
    position                    : relative;
    z-index                     : 1;
    & > span {
        vertical-align : middle;
    }

    transition: 
        transform 0.01s ease-out,
        color ease-in-out 0.3s,
        background-color ease-in-out 0.3s;
    &:hover {
        box-shadow: inset 0 0 0 0.8vw rgba(255,255,255,0.2);
    }
    &:active {
        box-shadow: inset 0 0 0 0.8vw rgba(255,255,255,0.2);
        transform: scale3d(0.94, 0.94, 1);
    }
}

#leaderboard-playing {

    background     : none;
    pointer-events : none;
    border-radius  : 0; // override

    // position top left
    margin-right : auto;
    padding      : 0;
    margin       : 0 auto 0 0;

    font-size: 14px;
    max-height: none; // override

    #leaders {
        padding-top: 6px;
        .leaderboard-leader {
            margin    : 3px;
            font-size : @font-size-base * 0.35;
            .leaderboard-score {
                width: 50px;
                display: inline-block;
            }
        }
        &.mobile .leaderboard-leader {
            margin-bottom : 2px;
            font-size : @font-size-base * 0.25;
        }
    }
}


#server-message {
    position  : absolute;
    left      : 50%;
    transform : translateX(-50%);
    top       : 15vh;
    color     : @primary-color;
    font-size : @font-size-base * 0.6;
}

#capture-message {
    position  : absolute;
    left      : 50%;
    transform : translateX(-50%);
    top       : 20vh;
    color     : @primary-color;
    font-size : @font-size-base * 0.6;
}

#gear-btn {
    position   : absolute;
    top        : 0;
    right      : 0;
    padding    : 0;
    width      : 40px;
    opacity    : 0.2;
    background : none;
    margin     : 8px;
    cursor     : pointer;
    transition : opacity ease-in-out 0.1s;
    pointer-events: auto;
    &:hover {
        opacity: 0.4;
    }
}

#targets, #player-size {
    position       : absolute;
    top            : 5.5vh;
    left           : 50%;
    transform      : translateX(-50%);
    padding        : 0;
    opacity        : 0.8;
    background     : none;
    margin         : 3px;
    border-radius  : 0;
    font-size      : 1rem;
    pointer-events : none;
    max-width      : 60%;
    overflow       : hidden;
    text-align     : center;
}

#player-size {
    top : 1vh;
}

#title {
    h1 {
        color: white;
        font-size: 4rem;
        text-shadow: 0 0 40px rgba(255,255,255,0.5);
    }
}

#tabs {
    pointer-events  : auto; // enable click/touch events on UI elements
    button {
        position: relative;
        top: 15px;
        margin: 6px;
        transition:
        opacity ease-out 0.2s,
        transform ease-out 0.2s;
        opacity: 0.8;
        &.active {
            opacity: 0.95;
            box-shadow: inset 0 0 0 0.8vw rgba(255,255,255,0.2);
        }
    }
}

#config {
    .greybox-wrapper();
    .center-abs();
}

#thanks-list {
    .clearfix();
    text-align: center;

    li {
        display: inline;
    }
    li::after {
        content: '★';
        margin: auto 4px auto 14px;
        color: darken(@primary-color, 50%);
    }
    li:last-child::after {
        content: '';
    }
}

#size-meter-wrapper {
    background-color: rgba(255, 255, 255, 0.1);

    &, #size-meter {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: @size-meter-height;
    }
    #size-meter {
        opacity: 0.9;
        background-color: @accent-color;
        transition: clip 0.2618s ease-in-out;
    }
    .milestone {
        position: absolute;
        top: 0;
        height: @size-meter-height;
        background-color: fade(@primary-color, 50%);
        width: 2px;
        &.passed {
            background-color: fade(@primary-color, 90%);
        }
    }
}

#respawn-button {
    width: 100%;
}

#tutorial {

    #tutorial-content {
        text-align: left;
        h2 {
            color: @accent-color;
            text-align: left;
            margin: 1em 0 0.6em;
        }

        p {
            font-size: 0.7 * @font-size-base;
            text-align: left;
        }

    }

    .key {
        color: @accent-color;
        background-color: darken(@primary-color, 16%);
        border-radius: 3px;
        padding: 2px;
    }
}

#leaderboard {
    #leaderboard-controls {
        text-align: right;
        font-size: 0.5 * @font-size-base;
        a.active {
            text-decoration: underline;
            pointer-events: none;
        }
    }
    table {
        font-size: 0.7 * @font-size-base;
        width: 100%;
        thead {
            display: none;
        }
        td { padding-bottom: 10px; }
        .leaderboard-score {
            text-align: right;
        }
    }
}

@keyframes pulseOpacity {
    from {
        opacity: auto;
    }
    to {
        opacity: 1.0;
    }
}

@keyframes loadingSpinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#marquee {
    font-size: 0.5 * @font-size-base;
    position: relative;
    opacity: 0.7;
    li {
        width: 100%;
        position: absolute;
        text-align: center;
    }
}

#social {
    position: relative;
    text-align: right;

    a {
        width: 38px;
        height: 38px;
        display: inline-block;
        transition: opacity linear 0.1s;
        opacity: 0.65;
        &:hover {
            opacity: 0.9;
        }
        &:active {
            transform: scale3d(0.94, 0.94, 1);
        }
        img {
            cursor: pointer;
        }
    }

    .tutorial-btn {
        &.first-visit {
            animation-duration: .618s;
            animation-name: pulseOpacity;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            opacity: 0.3;
        }
        opacity: 0.6;

        position: absolute;
        left: 0;
    }
    .leaderboard-btn {
        opacity: 0.6;

        position: absolute;
        left: 48px;
        top: 1px;
    }
}

#ad-login-center {
    text-align: center;
}

* {
    user-select: none;
    cursor: url('../images/cursor.png') -4 -4, crosshair;
}
