@import url("https://fonts.googleapis.com/css?family=Orbitron");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #171717;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
a {
  font-size: 1em;
  color: #f7f7f7;
}
a:hover {
  color: #0B7BF4;
}
button,
a {
  cursor: pointer;
}
#render-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -ms-touch-action: none;
      touch-action: none;
  z-index: 10;
  cursor: url('../images/cursor.png') -4 -4, crosshair;
}
#render-canvas,
#ui-overlay {
  opacity: 0.01;
  -webkit-transition: opacity 0.618s ease-in-out;
  transition: opacity 0.618s ease-in-out;
}
#render-canvas.active,
#ui-overlay.active {
  opacity: 1;
}
input {
  padding: 20px;
  background: #dedede;
  color: #171717;
  border: none;
  outline: none;
}
input[type=range] {
  padding: 0;
}
input:focus {
  background: #ffffff;
}
.error-text {
  color: #0B7BF4;
  font-size: 21px;
  text-align: center;
}
#ui-overlay {
  font-family: Orbitron, monospace;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#ui-overlay .greybox {
  max-width: calc(100% - 10px);
  overflow-y: auto;
  pointer-events: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 12px;
  color: #f7f7f7;
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
  padding: 20px;
  margin: 20px;
}
#ui-overlay .greybox > * {
  margin-bottom: 20px;
  border-radius: 8px;
}
#ui-overlay .greybox > *:first-child {
  margin-top: 0;
  padding-top: 0;
}
#ui-overlay .greybox > *:last-child {
  margin-bottom: 0;
}
#ui-overlay .greybox h1 {
  text-align: center;
  font-size: 60px;
}
#ui-overlay .greybox h1 small {
  float: right;
  clear: both;
}
#ui-overlay .greybox h2 {
  text-align: center;
  font-size: 30px;
}
#ui-overlay .greybox p {
  text-align: center;
  font-size: 15px;
}
button:focus {
  outline: none;
}
button {
  pointer-events: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  background: #0B7BF4;
  border: none;
  color: #f7f7f7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 20px;
  position: relative;
  z-index: 1;
  -webkit-transition: box-shadow 0.08s linear, -webkit-transform 0.04s ease-out;
  transition: box-shadow 0.08s linear, -webkit-transform 0.04s ease-out;
  transition: box-shadow 0.08s linear, transform 0.04s ease-out;
  transition: box-shadow 0.08s linear, transform 0.04s ease-out, -webkit-transform 0.04s ease-out;
}
button > span {
  vertical-align: middle;
  padding-left: 0.75em;
}
button:hover {
  box-shadow: inset 0 0 0 0.8vw rgba(255, 255, 255, 0.2);
}
button:active {
  box-shadow: inset 0 0 0 0.8vw rgba(255, 255, 255, 0.2);
  -webkit-transform: scale3d(0.97, 0.97, 1);
          transform: scale3d(0.97, 0.97, 1);
}
#leaderboard-playing {
  background: none;
  pointer-events: none;
  border-radius: 0;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  margin-right: auto;
  padding: 0;
  margin: 0 auto 0 0;
  font-size: 14px;
  max-height: none;
}
#leaderboard-playing ul li,
#leaderboard-playing #leaders {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#leaderboard-playing ul li div,
#leaderboard-playing #leaders div {
  margin: 3px;
  font-size: 10.5px;
}
#leaderboard-playing ul li.mobile div,
#leaderboard-playing #leaders.mobile div {
  margin-bottom: 2px;
  font-size: 7.5px;
}
#server-message {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #f7f7f7;
  font-size: 18px;
}
#copy {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  background: none;
  color: #404040;
  padding: 0;
  margin: 2px;
}
#copy a {
  color: #404040;
  text-decoration: underline;
  pointer-events: auto;
}
#gear-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 40px;
  opacity: 0.2;
  background: none;
  margin: 8px;
  cursor: pointer;
  -webkit-transition: opacity ease-in-out 0.1s;
  transition: opacity ease-in-out 0.1s;
  pointer-events: auto;
}
#gear-btn:hover {
  opacity: 0.4;
}
#targets {
  position: absolute;
  top: 40vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0;
  opacity: 0.8;
  background: none;
  border-radius: 0;
  font-size: 1rem;
  pointer-events: none;
  max-width: 60%;
  overflow: hidden;
  text-align: center;
  margin: 0;
}
#title {
  margin: 4vh;
  color: white;
}
#tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
#tabs button {
  border-radius: 50% 50%;
  width: 16vw;
  height: 16vw;
  max-height: 200px;
  max-width: 200px;
  margin: 1vw 1vw 5vh;
}
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: url('../images/cursor.png') -4 -4, crosshair;
}
