<div id='ad-login-center'>
    <table style="width: 100%">
        <tbody>
        <tr>
            <td>

                {{#if ENABLE_BACKEND_SERVICE}}
                    <div id="leaderboard">
                        <table border="0" cellspacing="10" cellpadding="0">
                            <tbody>
                            <tr>
                                <td colspan="2">High Scores Today</td>
                            </tr>

                            {{ #each leaderboard.data[leaderboard.activeBoard].slice(0, 10) as leader }}
                            <tr>
                                <td class="leaderboard-name">{{ leader.name }}</td>
                                <td class="leaderboard-score">{{ numberCommas(leader.score) }}</td>
                            </tr>
                            {{ /each }}

                            </tbody>
                        </table>
                    </div>
                {{/if}}

            </td>

            <td>

		<!-- Remove google ads for now if we ever self-host again we can add them back -->

            </td>

        </tr>
        </tbody>
    </table>

    <p><a href="http://iogames.space" target="_blank" rel="noopener noreferrer referer">More .io games</a></p>
</div>
