<div fade-in-out class="greybox">
    <p> Zorbio was created by <a href="https://twitter.com/caramelcode" target="_blank" rel="noopener noreferrer referer">Jared</a> and <a href="https://twitter.com/mwcz" target="_blank" rel="noopener noreferrer referer">Michael</a> of <a href="http://scripta.co" target="_blank" rel="noopener noreferrer referer">Scripta, Inc.</a>. </p>
    <p> Music by <a target="_blank" rel="noopener noreferrer referer" href="https://veuskemini.bandcamp.com/">V E U S K E M I N I 雄 志</a>. </p>
    <p>Special Thanks:</p>
    <ul id="thanks-list">
        <li>Jessica</li>
        <li>Cassondra</li>
        <li>Rowen</li>
        <li>Elliott</li>
        <li>Samantha</li>
        <li>The SCT guys...</li>
        <li>Wil</li>
        <li>Josh</li>
        <li>Matt</li>
        <li>James</li>
        <li>Simon</li>
        <li>molleindustria</li>
        <li>Moore Square Students</li>
        <li>Order of The End</li>
        <li>Josh N.</li>
        <li>Jessie</li>
        <li>Dean</li>
        <li>Carol</li>
        <li>Logan</li>
        <li>Fiona</li>
        <li>Alan</li>
        <li>Aaron</li>
        <li>Cousin Jared</li>
        <li>Spraguelings</li>
        <li>Red Hat</li>
        <li>Breddy</li>
        <li>Sonya</li>
        <li>Ian</li>
        <li>West Langley</li>
        <li>Mr.doob</li>
        <li>Kahvi Collective (thanks Nik!)</li>
        <li>All the Alpha testers</li>
        <li>Everyone else that helped!</li>
    </ul>
    <p> Zorbio makes use of these heroic and fun open source projects: </p>
    <ul>
        <li> <a href="http://threejs.org/">three.js</a> &mdash; <a target="_blank" rel="noopener noreferrer referer" href="https://raw.githubusercontent.com/mrdoob/three.js/r74/LICENSE">LICENSE</a> </li>
        <li> <a href="http://www.ractivejs.org/">ractive.js</a> &mdash; <a target="_blank" rel="noopener noreferrer referer" href="https://github.com/ractivejs/ractive/blob/dev/LICENSE.md">LICENSE</a> </li>
        <li> <a href="https://lodash.com/">lodash</a> &mdash; <a target="_blank" rel="noopener noreferrer referer" href="https://raw.githubusercontent.com/lodash/lodash/4.0.0/LICENSE">LICENSE</a> </li>
    </ul>
    <button on-click="@this.fire( ACTIONS.SHOW_PREVIOUS )">Back</button>
</div>
