<p> Zorbio was created by Jared and Michael of <a href="http://scripta.co" target="_blank" rel="noopener noreferrer referer">Scripta, Inc.</a>. </p>
<!-- <p> The music is <i>starfish oblivion</i> by <a href="http://www.kahvi.org/releases.php?release_number=202">Acrilic Colors</a>. </p> -->
<p> Zorbio makes use of these heroic and fun open source projects: </p>
<ul>
    <li> <a href="http://threejs.org/">three.js</a> &mdash; <a target="_blank" rel="noopener noreferrer referer" href="https://raw.githubusercontent.com/mrdoob/three.js/r74/LICENSE">LICENSE</a> </li>
    <li> <a href="http://expressjs.com/">express</a> &mdash; <a target="_blank" rel="noopener noreferrer referer" href="https://raw.githubusercontent.com/expressjs/express/4.13.3/LICENSE">LICENSE</a> </li>
    <li> <a href="https://lodash.com/">lodash</a> &mdash; <a target="_blank" rel="noopener noreferrer referer" href="https://raw.githubusercontent.com/lodash/lodash/4.0.0/LICENSE">LICENSE</a> </li>
</ul>
<p>Special Thanks</p>
<ul>
    <li>Jessica</li>
    <li>Rowen</li>
    <li>Elliott</li>
    <li>Samantha</li>
    <li>SCT guys: Wil, Josh, Matt, James</li>
    <li>Simon</li>
    <li>molleindustria</li>
    <li>Moore Square Students</li>
    <li>Order of The End</li>
    <li>Josh N.</li>
    <li>Jessie</li>
    <li>Dean</li>
    <li>Carol</li>
    <li>Logan</li>
    <li>Fiona</li>
    <li>Alan</li>
    <li>Aaron</li>
    <li>Cousin Jared</li>
    <li>Spraguelings</li>
    <li>Red Hat</li>
    <li>Sonya</li>
    <li>Ian</li>
    <li>Everyone else that helped!</li>
</ul>
<button on-click="{{ ACTIONS.SHOW_PREVIOUS }}">Back</button>
