<div id="leaderboard">
    <div class="greybox-wrapper">
        <div class="greybox">
            <table border="0" cellspacing="10" cellpadding="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {{ #each leaderboard.leaders_1_day:i }}
                    <tr>
                        <td class="leaderboard-name">{{ leaderboard.leaders_1_day[i].name }}</td>
                        <td class="leaderboard-score">{{ numberCommas(leaderboard.leaders_1_day[i].score) }}</td>
                    </tr>
                    {{ /each }}
                </tbody>
            </table>
            <button on-click="{{ ACTIONS.SHOW_PREVIOUS }}">Back</button>
        </div>
    </div>
</div>
