<div id="start-menu">
    <h1>ZORBIO</h1>
    <h2>( Alpha )</h2>
    <input on-keypress="{{ ACTIONS.PLAYER_LOGIN_KEYPRESS }}" type="text" autofocus placeholder="Player name" value="{{ player_name }}"/>
    <input on-keypress="{{ ACTIONS.PLAYER_LOGIN_KEYPRESS }}" type="text" placeholder="Alpha key" value="{{ alpha_key }}"/>
    {{ #if login_error_msg }}
    <b class="error-text">Nick name must be alphanumeric characters only!</b>
    {{ /if }}
    <button on-click="{{ ACTIONS.PLAYER_LOGIN }}" id="start-button"><span>Play</span></button>
    <button on-click="{{ ACTIONS.SHOW_TUTORIAL }}" class="secondary" id="tutorial-button"><span>Tutorial</span></button>
    <button on-click="{{ ACTIONS.SHOW_CONFIG }}" class="secondary" id="config-button"><span>Settings</span></button>

    {{ > social }}

    <div id="ad-login-center">
        {{ > ad }}
    </div>

</div>
<p id="copy">
    &copy; 2016 <a href="http://scripta.co">Scripta, Inc.</a>  All rights reserved.  
    <a on-click="{{ ACTIONS.SHOW_CREDITS }}">Credits</a>.
</p>
