<div id="social">
    <a on-click="{{ ACTIONS.SHOW_TUTORIAL }}" title="How to play" target="_blank" rel="noopener noreferrer" class="tutorial-btn {{ #if !player_name }}first-visit{{ /if }}"><img src="../images/icons/guide.png"></a>
    <a href="https://www.facebook.com/zorbio/" title="Zorbio on Facebook" target="_blank" rel="noopener noreferrer"><img src="../images/icons/facebook.png"></a>
    <a href="https://twitter.com/zorbio"       title="Zorbio on Twitter" target="_blank" rel="noopener noreferrer"><img src="../images/icons/twitter.png"></a>
    <a href="https://www.reddit.com/r/Zorbio/" title="Zorbio on Reddit" target="_blank" rel="noopener noreferrer"><img src="../images/icons/reddit.png"></a>
    <a href="https://www.youtube.com/channel/UC5q_UWzuBKvAeYxowMbgOjA" title="Zorbio on YouTube" target="_blank" rel="noopener noreferrer"><img src="../images/icons/youtube.png"></a>
</div>
