<div id="social">
    <a on-click="{{ ACTIONS.SHOW_TUTORIAL }}"  target="_blank" rel="noopener noreferrer"><img src="../images/icons/guide.png"></a>
    <a href="https://www.facebook.com/zorbio/" target="_blank" rel="noopener noreferrer"><img src="../images/icons/facebook.png"></a>
    <a href="https://twitter.com/zorbio"       target="_blank" rel="noopener noreferrer"><img src="../images/icons/twitter.png"></a>
    <a href="https://www.reddit.com/r/Zorbio/" target="_blank" rel="noopener noreferrer"><img src="../images/icons/reddit.png"></a>
</div>
