<div id="tabs" style="font-size: {{Math.min(38,Math.max(12,screen_x/40))}}px;">
    <button class="{{ state === STATES.MENU_GAME_SCREEN ? 'active' : '' }}" on-mousedown="{{ ACTIONS.SHOW_MENU_GAME_SCREEN   }}" id="menu-game-tab">Game</button>
    <button class="{{ state === STATES.MENU_STORE_SCREEN ? 'active' : '' }}" on-mousedown="{{ ACTIONS.SHOW_MENU_STORE_SCREEN  }}" id="menu-store-tab">Skins</button>
    <button class="{{ state === STATES.MENU_CONFIG_SCREEN ? 'active' : '' }}" on-mousedown="{{ ACTIONS.SHOW_MENU_CONFIG_SCREEN }}" id="menu-config-tab">Settings</button>
</div>
