<div id="tutorial">
    <div class="greybox-wrapper">
        <div class="greybox">
            <div id="tutorial-content">
                <p class="msg-1">This is you.  A sphere!</p>
                <img src="images/tutorial/player.png" alt="image of player sphere">
                <p class="msg-2">This is food.</p>
                <img src="images/tutorial/player-beside-food.png" alt="image of player beside food">
                <p class="msg-3">Eat food to grow!  To eat it, run into it.</p>
                <p class="msg-4">This blue sphere is another player. So tiny!</p>
                <img src="images/tutorial/player-beside-player.png" alt="image of player beside another player">
                <p class="msg-5">Since you're bigger, you can eat the player too!</p>
                <p class="msg-6">Your sphere will turn towards your mouse cursor.</p>
                <p class="msg-7">Now you're ready to eat 'em up!</p>
                <div class="player-sphere"></div>
                <div class="player2-sphere"></div>
                <div class="food"></div>
            </div>
            <ul>
                <li>Speed boost with <span class="key">W</span> or left mouse</li>
                <li>Stop with <span class="key">S</span></li>
                <li>Eat dots.</li>
                <li>Eat smaller players.</li>
                <li>Fly near larger players to drain them!</li>
            </ul>
            <button on-click="{{ ACTIONS.SHOW_PREVIOUS }}">Back</button>
        </div>
    </div>
</div>
