<!-- UI while in menus -->
{{ #if !loading }}
    <div id="menu-ui-container" fade-in-out data-state="{{ state }}">
        {{ #if state.indexOf('playing') !== 0 }}
            {{ > title }}
        {{ /if }}
        {{ #if state === STATES.MENU_GAME_SCREEN        }} {{ > menu      }} {{ /if }}
        {{ #if state === STATES.MENU_STORE_SCREEN       }} {{ > menu      }} {{ /if }}
        {{ #if state === STATES.MENU_CONFIG_SCREEN      }} {{ > menu      }} {{ /if }}
        {{ #if state === STATES.MENU_CREDITS_SCREEN     }} {{ > menu      }} {{ /if }}
        {{ #if state === STATES.MENU_TUTORIAL_SCREEN    }} {{ > menu      }} {{ /if }}
        {{ #if state === STATES.MENU_LEADERBOARD_SCREEN }} {{ > menu      }} {{ /if }}
        {{ #if state === STATES.RESPAWN_SCREEN          }} {{ > death     }} {{ /if }}
        {{ #if state === STATES.KICKED_SCREEN           }} {{ > kicked    }} {{ /if }}
        {{ #if state === STATES.GAME_INIT_ERROR         }} {{ > initerror }} {{ /if }}

        {{ #if state.indexOf('playing') !== 0
        && state !== STATES.KICKED_SCREEN
        && state !== STATES.GAME_INIT_ERROR }}
            {{ > tabs }}
            {{ > copyright }}
        {{ /if }}
    </div>

    <!-- UI while playing -->
    {{ #if state.indexOf('playing') === 0 }}
    <div id="play-ui-container" fade-in-out data-state="{{ state }}">
        {{ #if state === STATES.PLAYING }}
            {{ > leaders     }}
            {{ > gear-btn    }}
            {{ > player-size }}
            {{ > targets     }}
            {{ > size-meter  }}
        {{ /if }}
        {{ #if state === STATES.PLAYING_CONFIG }}
            {{ > config-play }}
        {{ /if }}

        {{ #if server_message }}
        <div id="server-message"> {{ server_message }} </div>
        {{ /if }}

        <div fade-in-out id="steering-toast">
            <div id="steering-toast-message">Center your mouse on your sphere to fly straight</div>
            <div id='toast-circles'>
                <div class="circle one"></div>
                <div class="circle two"></div>
                <div class="circle three"></div>
                <div class="circle four"></div>
                <div class="circle five"></div>
            </div>
        </div>
    </div>
    {{ /if }}
{{ /if }}
