<!-- UI while in menus -->
<div id="menu-ui-container" data-state="{{ state }}">
    {{ #if state.indexOf('playing') !== 0 }}
        {{ > title }}
    {{ /if }}
    {{ #if state === STATES.MENU_GAME_SCREEN    }} {{ > menu        }} {{ /if }}
    {{ #if state === STATES.MENU_STORE_SCREEN   }} {{ > menu        }} {{ /if }}
    {{ #if state === STATES.MENU_CONFIG_SCREEN  }} {{ > menu        }} {{ /if }}
    {{ #if state === STATES.MENU_CREDITS_SCREEN }} {{ > menu        }} {{ /if }}
    {{ #if state === STATES.TUTORIAL_SCREEN     }} {{ > tutorial    }} {{ /if }}
    {{ #if state === STATES.RESPAWN_SCREEN      }} {{ > death       }} {{ /if }}
    {{ #if state === STATES.KICKED_SCREEN       }} {{ > kicked      }} {{ /if }}
    {{ #if state === STATES.GAME_INIT_ERROR     }} {{ > initerror   }} {{ /if }}

    {{ #if state.indexOf('playing') !== 0
    && state !== STATES.KICKED_SCREEN
    && state !== STATES.GAME_INIT_ERROR }}
        {{ > tabs }}
        {{ > copyright }}
    {{ /if }}
</div>

<!-- UI while playing -->
{{ #if state.indexOf('playing') === 0 }}
<div id="play-ui-container" data-state="{{ state }}">
    {{ #if state === STATES.PLAYING }}
        {{ > leaderboard }}
        {{ > gear-btn    }}
        {{ > player-size }}
        {{ > targets     }}
        {{ > size-meter  }}
    {{ /if }}
    {{ #if state === STATES.PLAYING_CONFIG }}
        {{ > config-play }}
    {{ /if }}
</div>
{{ /if }}

{{ #if server_message }}
<div id="server-message"> {{ server_message }} </div>
{{ /if }}

{{ #if capture_message }}
<div id="capture-message"> {{ capture_message }} </div>
{{ /if }}
